@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.front-end-projects-title {
    color: #fedc9f;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5rem;
}

.front-end-projects-section {
    margin-top: 500px;
}