@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


#scroll-progress {
    width: 0;
    background-color: #fedc9f;   
    height: 10px;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 999;
    //position: absolute;
    appearance: none; /* To allow styling in browsers like Chrome */
}

  
#scroll-progress::-webkit-progress-bar {
background-color: #f3f3f3; /* Background for the bar (Chrome/Safari) */
}

#scroll-progress::-webkit-progress-value {
background-color: #4caf50; /* Progress value (Chrome/Safari) */
}

#scroll-progress::-moz-progress-bar {
background-color: #4caf50; /* Progress value (Firefox) */
}

  
.page-body {
    margin: 0 50px;
    margin-bottom: 300px;
    max-width: 100%;
    overflow-x: hidden;
}

.top-page {
    display: flex;
    justify-content: space-between;
}

.vertical-box {
    position: absolute;
    top: 0;
    left: 80%;
    width: 100px;
    height: 958vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent-glowing {
    z-index: 1;
    width: 100%;
    //overflow: hidden;
    position: absolute;
    height: 400px;
    margin: 0;
    top: -572px;
    left: -185px;
}

.glowing {
        z-index:999;
        top: -560px;
        left: -250px;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        box-shadow:
          inset 0 0 50px #fff,
          inset 20px 0 80px #2a9b30,
          inset -20px 0 80px rgb(102, 212, 80),
          inset 20px 0 300px #2a9b30,
          inset -20px 0 300px rgb(105, 224, 81),
          0 0 50px #fff,
          -10px 0 80px #2a9b30,
          10px 0 80px rgb(111, 226, 88);
}



.vertical-line {
    z-index: 10;
    position: absolute;
    width: 10px;
    height: 250%;
    background-color: rgb(78, 184, 57); /* Bright green */
    
    /* Outer glow effect */
    box-shadow: 
        0 0 5px 1px rgb(78, 184, 57), /* Soft glow */
        0 0 6px 3px rgb(78, 184, 57); /* More diffused glow */
}

.vertical-line-round {
    z-index: 999;
    width: 50px;
    height: 50px;
    //background-color: #fedc9f;
    background-color: rgb(78, 184, 57);
    // box-shadow: 
    //     0 0 80px rgb(102, 212, 80),  /* Inner glow */
    //     0 0 80px rgb(102, 212, 80);
    box-shadow: 
        0 0 5px 1px rgb(78, 184, 57),  /* Soft glow */
        0 0 6px 3px rgb(78, 184, 57); /* More diffused glow */
    border-radius: 50%;
    position: absolute;
}

.round1 {
    margin-top: 350px;
}

.round2 {
    margin-top: 745px;
}

.round3 {
    margin-top: 3411px;
}

.round4 {
    margin-top: 6071px;
} 

.round5 {
    margin-top: 7629px;
}

.active {
    transform: scale(1.5);
    transition: all 0.5s ease-in;
    animation: active-round 2s ease-in-out infinite alternate;
}

@keyframes active-round {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.5);
    }
}

.unactive {
    transform: scale(1);
    transition: all 0.5s ease-in;
}


.letter {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.letter-i,
.letter-h {
    margin-right: 5px;
}

.name-presentation-box {
    margin-left: 50px;
    z-index: 99;
}

.letter-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.last-name {
    margin-left: 30px;
}

.group-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description-box {
    display: flex;
    animation: description 2s ease-in-out;
}

@keyframes description {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}




.job-description, .hello_description {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #fedc9f;
    letter-spacing: 0.5rem;
}

.job-description {
    font-size: 25px;
}



.underscore-animated {
    width: 20px;
    height: 4px;
    background-color: #fedc9f;
    margin-top: 50px;
    animation: underscore 1s linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    margin-left: 10px;
   // margin-right: 5px;
}

@keyframes underscore {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 50%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

.name-presentation-box {
    width: fit-content;
    height: fit-content;
    margin-top: 300px;
}


/// main /// 

.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/// letters animation ///

@keyframes block-disp1 {
    from {
        // transform: translate(-3000px);
        transform: scale(0);
    }

    to {
        //  transform: translate(0px);
        transform: scale(1);
    }
}


.letter {
    animation: block-disp1 0.4s both;
}



$anim-delay : 0.2s;

@for $i from 1 through 14 {
    .anim-#{$i} {
        animation-delay: $anim-delay*$i;
    }
}


/////////////// responsive ////////////////////


@media (max-width: 1370px) {
    .vertical-box {
        left: 85%;
    }

    .main {
        margin-left: 6vh;
    }

    .hello_description {
        font-size: 20px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
}




@media (max-width: 1020px) {

    .glowing {
        position: absolute;
        overflow: hidden;
        z-index: 999;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        box-shadow:
          inset 0 0 50px #fff,
          inset 20px 0 80px #2a9b30,
          inset -20px 0 80px rgb(102, 212, 80),
          inset 20px 0 300px #2a9b30,
          inset -20px 0 300px rgb(105, 224, 81),
          0 0 50px #fff,
          -10px 0 80px #2a9b30,
          10px 0 80px rgb(111, 226, 88);
      
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        will-change: transform; 
    }

    .parent-glowing
    {
        top: 0;
        left: 0;
    }

    .main {
        align-items: center;
        margin: 0 auto;
    }

    .vertical-box {
        display: none;
    }

    .letter-container {
        flex-direction: column;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .last-name
    {
        margin-left: 0;
    }

    .hello_description {
        font-size: 25px;
        font-weight: 900;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }

    .glowing {
        top: -35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 768px) {

    .main {
        width: 100%;
    }

    .top-page
    {
        margin-bottom: 20vh;
    }

    .name-presentation-box {
        margin-left: 0;
    }

    .page-body {
        width: 95%;
        margin: auto;
    }

    .name-presentation-box {
        margin: 300px auto 0px;
    }

    .letter-container {
        margin: 0 auto;
    }

    .letter {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .letter-i,
    .letter-h {
        margin-right: 1.6px;
    }

    .job-description {
        font-size: 12px;
        text-align: center;
    }

    .hello_description {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .underscore-animated {
        display: none
    }

    .letter-container {
        align-items: center;
    }

    .last-name {
        margin-left: 0;
        margin-top: 5px;

    }

    .first-name {
        width: 100%;
    }

}


@media (max-width: 425px) {


    .name-presentation-box {
        margin: 300px auto 0px;
    }

    .letter-container {
        margin: 0 auto;
    }

    .letter {
        width: 12px;
        height: 12px;
        margin-right: 4px;
    }

    .letter-i,
    .letter-h {
        margin-right: 1.6px;
    }

    .job-description {
        font-size: 8px;
        text-align: center;
        margin-top: 12px;
    }

    .underscore-animated {
        display: none
    }

    // .last-name {
    //     margin-left: 15px;
    // }
   
    .page-body {
        margin-top: auto;
        
    }

  
}