@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.section {
    margin-top: 500px;
}

.front-end-projects-title {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 0.5rem;
    text-align: end;
}

.front-end-projects-title, .project-description, .project-title {
    color: #fedc9f;
    font-family: 'Orbitron', sans-serif;
}

.project-infos {
    display: flex; 
    margin-top: 150px;
    align-items: flex-end; 
}



.project-display-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-image {
    width: 600px;
    height: 300px;
    object-fit: cover;
}

.projects-infos-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projects-infos-right {
    text-align: end;
}

.project-description {
    max-width: 700px;
}
