@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.section {
   // margin-top: 350px;
    width: 100%;
}

.front-end-projects-title {
    margin-top: 300px;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 0.5rem;
    text-align: end;
}

.front-end-projects-title, .project-description, .project-title {
    color: #fedc9f;
    font-family: 'Orbitron', sans-serif;
}

.about-section-box {
    width: 80%;
    height: fit-content;
    display: flex;
    text-align: end;
    margin-left: auto;
}

.about-section {
    font-size: 18px;
    color: #fedc9f;
    font-family: Arial, Helvetica, sans-serif;
}

.project-infos {
    display: flex; 
    margin-top: 150px;
    align-items: flex-end; 
}



.project-display-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-image {
    height: 300px;
    max-width : 500px;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    // width: 95%;
}

.projects-infos-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}

.projects-infos-right {
    text-align: end;
}

.project-description {
    max-width: 700px;
}

.project-infos-offset {
    flex-direction: row-reverse;
    margin-right: 25%;
}


.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #fedc9f ;
    font-family: 'Orbitron', sans-serif;
    color: #fedc9f;
    height: 5vh;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.button-website {
    margin-bottom: 50px;
}


@media (max-width: 1300px) {
   .project-infos-offset {
        margin-right: 0%;
   }
}

@media (max-width: 1020px) {
    .project-infos {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .projects-infos-right {
        text-align: center;
    }

    .projects-infos-left {
        width: 100%;
        align-items: center;
        margin-top: 30px;
    }

    .front-end-projects-title {
        font-size: 30px;
    }


    .name-presentation-box {
        margin: 335px auto 0px;
    }

    .about-section-box {
        width: 90%;
        text-align: center;
        margin-left: 0;
    } 

}


@media (max-width: 768px) {
    .projects-infos-left {
        align-items: center;
    }

    .button-website {
        margin-bottom: 20px;
    }

    .project-description {
        text-align: center;
        word-wrap: break-word;
        max-width: 100%;
        font-size: 10px;
    }

    .project-display-container {
        align-items: center;
    }
    .front-end-projects-title
    {
        text-align: center;
        font-size: 25px;
    }

    .project-image {
        border-radius: 0px;
    }

    .button {
        width: 50vw;
    }

    .projects-infos-right {
        text-align: center;
    }
}