@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.section {
    margin-top: 350px;
    width: 100%;
}

.front-end-projects-title {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 0.5rem;
    text-align: end;
}

.front-end-projects-title, .project-description, .project-title {
    color: #fedc9f;
    font-family: 'Orbitron', sans-serif;
}

.project-infos {
    display: flex; 
    margin-top: 150px;
    align-items: flex-end; 
}



.project-display-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-image {
    height: 300px;
    border-radius: 20px;
    object-fit: contain;
}

.projects-infos-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}

.projects-infos-right {
    text-align: end;
}

.project-description {
    max-width: 700px;
}

.project-infos-offset {
    flex-direction: row-reverse;
    margin-right: 25%;
}


.button {
    background: none;
    border: 1px solid #fedc9f ;
    font-family: 'Orbitron', sans-serif;
    color: #fedc9f;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
}

.button-website {
    margin-bottom: 50px;
}


@media (max-width: 1300px) {
   .project-infos-offset {
        margin-right: 0%;
   }
}

@media (max-width: 1020px) {
    .project-infos {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .projects-infos-left {
        width: 100%;
        align-items: flex-end;
        margin-top: 30px;
    }

    .name-presentation-box {
        margin: 300px auto 0px;
    }

}


@media (max-width: 768px) {
    .projects-infos-left {
        align-items: center;
    }


    .project-image {
        height: 40vh;
    }

    .button {
        width: 50vw;
    }

    .projects-infos-right {
        text-align: center;
    }
}